<!DOCTYPE html>
<html lang="en">
<head th:replace="fragments/header.html :: header"></head>
<div class="container">
  <div th:replace="fragments/bodyHeader.html :: bodyHeader "></div>
  <table class="table table-striped">
    <thead>
      <tr>
        <td>#</td>
        <td>이름</td>
        <td>도시</td>
        <td>주소</td>
        <td>우편번호</td>
      </tr>
    </thead>
    <tr th:each="member : ${members}">
      <td th:text="${member.id}"></td>
      <td th:text="${member.name}"></td>
      <td th:text="${member.address?.city}"></td>
      <td th:text="${member.address?.street}"></td>
      <td th:text="${member.address?.zipcode}"></td>
    </tr>
  </table>

  <div th:replace="fragments/footer.html :: footer"></div>
</div>
</html>