<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>상품 이름</h1>
    <div th:text="${itemNm}">아이템 이름</div>

    <h1>상품 상세</h1>
    <div th:text="${itemDetail}">아이템 상세</div>

    <img th:src="@{/images/img.png}" alt="춘식이"/>
</body>
</html>