<!DOCTYPE html>
<html lang="en">
<head th:replace="fragments/header.html :: header"></head>
<body>
<div class="container text-center">
    <div class="py-5 text-center">
        <h2>아이템 수정하기</h2>
    </div>

    <div class="row justify-content-center">
        <form th:action="@{/items/{id}/edit (id=${itemForm.id})}" th:object="${itemForm}" method="post">
            <div class="form-group">
                <label th:for="name">이름</label>
                <input type="text" th:field="*{name}" placeholder="상품 이름을 입력하세요">
            </div>
            <div class="form-group">
                <label th:for="city">가격</label>
                <input type="text" th:field="*{price}" placeholder="상품 가격을 입력하세요">
            </div>
            <div class="form-group">
                <label th:for="street">수량</label>
                <input type="text" th:field="*{stockQuantity}" placeholder="가격 입력하세요">
            </div>
            <div class="form-group">
                <label th:for="author">저자</label>
                <input type="text" th:field="*{author}" placeholder="저자를 입력하세요">
            </div>
            <div class="form-group">
                <label th:for="isbn">isbn</label>
                <input type="text" th:field="*{isbn}" placeholder="isbn을 입력하세요">
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary">상품 등록</button>
            </div>
        </form>
        <footer th:replace="fragments/footer.html :: footer"></footer>
    </div>
</div>
</body>
</html>